@charset "utf-8";
@import url('noto-fonts.css');
/* reset */
* {margin:0; padding:0;box-sizing: border-box;}
html {background:#fff}
html,body {width:100%;height:100%;-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,button {margin:0;padding:0;font-family: 'Noto Sans KR', sans-serif;letter-spacing:0px}
table {border-spacing:0;border-collapse:collapse;font-family:'Noto Sans KR', sans-serif;font-size:inherit;line-height:100%}
fieldset,img {border:0}
address,caption,cite,code,dfn,em,strong,th,var {font-weight:normal;font-style:normal}
ol,ul,li {list-style:none}
caption,th {text-align:left}
caption {position:absolute;left:-9999px;font-size:0;line-height:0;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
a {color:inherit;text-decoration:none}
header,footer,section,nav,article {display:block}
input,button,textarea,select,optgroup,option {font-family:inherit;font-size:inherit;font-weight:inherit;font-style:inherit}
input,button,textarea,select {line-height:normal}
button {border:0;background:transparent;cursor:pointer;outline:none}
.hidden,.blind {overflow:hidden;clip:rect(1px,1px,1px,1px);position:absolute !important;width:1px;height:1px}
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.noSelect {-webkit-user-select:none;-moz-user-select:none;user-select:none}
.clear:after{display:table;clear:both;content:"";table-layout:fixed}
input[type=text]::-ms-clear {display:none}
select::-ms-expand { display: none; }

/* 공통 스타일*/
.mt-10 {margin-top:-10px !important}
.mt0 {margin-top:0px !important}
.mt5 {margin-top:5px}
.mt10 {margin-top:10px}
.mt15 {margin-top:15px}
.mt20 {margin-top:20px}
.mt30 {margin-top:30px}
.mb15 {margin-bottom:15px}
.mb30 {margin-bottom:30px}
.pt10 {padding-top: 10px !important}
.w95p {width: 95%}
.mw700 {min-width: 700px !important}
.tal {clear:both;text-align:left !important}
.tac {clear:both;text-align:center}
.fl {float:left}
.fr {float:right}

html,body { color: #333333; font-family: 'Noto Sans KR', sans-serif; font-size: 14px; line-height: 17px; font-weight: 500; background: url('../images/header_bg.png') repeat-x; }
body { min-width: 1424px; min-height: 750px; }
body.popup-wrap { min-width: 534px !important; background: unset; min-height: 50px; }

/* 팝업 전용 */
.popup-wrap > .container { padding: 30px; margin-top: 0; min-width: 534px; }
.popup-wrap .container-fluid h1 { font-size: 30px; font-weight: 700; line-height: 100%; margin-top: -3px; border-bottom: 3px solid #000; padding-bottom: 21px; margin-bottom: 30px; }

/* 검색창 */
.address-search-wrap { display: flex; align-items: center; justify-content: center; margin-bottom: 30px; }
.address-search-wrap input{ width: 475px; height: 46px; border: 1px solid #d9d9d9; border-radius: 23px; padding: 0 39px; font-size: 15px; letter-spacing: -0.5px; }
.address-search-wrap button{ width: 46px; height: 46px; margin-left: 6px; background-color: #061039; color: #fff; font-size: 18px; border-radius: 50%; display: flex; align-items: center; justify-content: center; transition: background-color 0.2s; }
.address-search-wrap button:hover { background-color: #1a2a5a; }

/* 테이블 및 리스트 */
.table-wrap { border-top: 1px solid #000; }
.table-wrap table th, .table-wrap table td { height: 44px; border-bottom: 1px solid #ecf3f5; letter-spacing: -0.5px; }
.table-wrap table th { background: #f8fbfc; color: #232323; font-weight: 500; padding-left: 36px; border-right: 1px solid #ecf3f5; border-left: 1px solid #ecf3f5; word-break: keep-all; line-height: 17px; }
.table-wrap table td { color: #4c4c4c; font-weight: 400; padding: 5px 15px; background: #fff; }

.table-wrap table.table-case1 th, .table-wrap table.table-case1 td { height: 38px; border-bottom: 1px solid #f1f1f1; padding: 4px 15px; text-align: center; white-space: normal; }
.table-wrap table.table-case1 th { background: #fbfbfb; border-right: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; line-height: 17px; white-space: pre-wrap; }
.table-wrap table.table-case1 td { border-right: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; }

.popup-wrap .table-wrap.address-view td:nth-child(2) { padding: 13px 15px; text-align: left; border-right: 0; }
.popup-wrap .table-wrap.address-view td:nth-child(3) { border-left: 0; }

.guide_sty1 { line-height: 100%; color: #061039; margin-bottom: 15px; font-weight: 400; letter-spacing: -0.5px; }

/* 상세주소 입력 뷰 */
.popup-wrap .container-fluid h2 { font-size: 18px; letter-spacing: -0.5px; font-weight: 500; color: #000; padding-bottom: 15px; }
.popup-wrap .container-fluid h2::before { content: ''; display: inline-block; width: 8px; height: 11px; background: url('../images/h2_tit_icon.png') no-repeat; padding-left: 5px; }

.content-button-group { margin-top: 20px; display: flex; justify-content: flex-end; }
.btn-blue { background-color: #061039; color: #ffffff; min-width: 76px; height: 32px; line-height: 32px; font-size: 14px; padding: 0 13px; font-weight: 400; letter-spacing: -0.5px; }

/* 페이지네이션 */
.content-page-nav { text-align: center; margin-left: 40px; margin-right: 40px; margin-top: 25px; height: 29px; }
.pagination { font-size: 14px; display: inline-flex; }
.pagination a{ width: 29px; height: 29px; line-height: 29px; border: 1px solid #cccccc; font-size: 14px; font-weight: 400; color: #232323; display: flex; align-items: center; justify-content: center; float: left; text-decoration: none; margin-left: 3px; margin-right: 3px; }
.pagination a.active{ border: 1px solid #061039; color: #061039;}

